<br>
<br>
<br>

<p>
  <strong>Grape:</strong>
  <%= @flavor.grape %>
</p>

<p>
  <strong>Cherry:</strong>
  <%= @flavor.cherry %>
</p>

<%= link_to 'Edit', edit_flavor_path(@flavor) %> |
<%= link_to 'Back', flavors_path %>
