<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4 ">Home Page</h1>
    <br>
    <div class="card text-center">
      <div class="card-body">
          <p class="lead">Welcome to Grape or Cherry the Voting App.</p>
          <p class="lead">What's your favorite flavor?</p>

          <a class="btn btn-primary my-2" href="/users/sign_up">Register</a>
          <a class="btn btn-success my-2" href="/users/sign_in">Login</a>

      </div>
    </div>
  </div>
</div>
